################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OOP/QLBaiDoXe/.vs/QLBaiDoXe/FileContentIndex
/OOP/QLBaiDoXe/.vs/QLBaiDoXe/FileContentIndex
/OOP/QLBaiDoXe/QLBaiDoXe/bin
/OOP/QLBaiDoXe/QLBaiDoXe/obj